body {
    padding: 0;
    margin: 0 auto;
    background-color: #F5F5F5;
}

#main {
    display: flex;
    background-color: #F5F5F5;
}

#content {
    height: 100%;
}

#text-modal-content {
    padding: 0;
    color: #290661;
    font-size: 20px;
}

#btn-modal-content {
    padding: 0;
}

.modal-content {
    padding: 40px;
}

