<div class="create-category">
    <div class="create-category-container">
        <h1 class="create-category-title" id="create-category-title">Создание категории расходов</h1>
        <div class="create-category-block-input">
            <input type="text" class="input-group-sm form-control" id="create-category-input" placeholder="Название...">
        </div>
        <button class="btn btn-success" id="create-category-save-btn">Сохранить</button>
        <button class="btn btn-danger" id="create-category-cancel-btn">Отмена</button>
    </div>
</div>
