<div class="main-page">
    <div class="main-page-container">
        <h1 class="main-title">Главная</h1>
        <ul class="d-flex gap-3 align-items-center nav-tabs list-unstyled border-0 main-page-filters">
            <li class="nav-item">
                <a class="btn btn-outline-secondary operations-date-buttons active" data-toggle="tab">Сегодня</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary operations-date-buttons" data-toggle="tab">Неделя</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary operations-date-buttons" data-toggle="tab">Месяц</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary operations-date-buttons" data-toggle="tab">Год</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary operations-date-buttons" data-toggle="tab">Все</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary operations-date-buttons" data-toggle="tab" id="main-interval-button">Интервал</a>
            </li>
            <div>
                c <input type="date" id="date-input-from">
                по <input type="date" id="date-input-to">
            </div>
        </ul>
        <div class="main-page-items">
            <div class="main-page-item">
                <h3 class="main-page-item-title">Доходы</h3>
                <div id="main-page-empty-text-income" style="text-align: center">Ничего не найдено</div>
                <div class="main-page-item-pie"><canvas id="pie-income"></canvas></div>
            </div>
            <div class="main-page-item-line"></div>
            <div class="main-page-item">
                <h3 class="main-page-item-title">Расходы</h3>
                <div id="main-page-empty-text-expense" style="text-align: center">Ничего не найдено</div>
                <div class="main-page-item-pie"><canvas id="pie-expense"></canvas></div>
            </div>
        </div>
    </div>
</div>
